/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px #3a40fb;
    background-color: #bf1212;
  }
  h1 {
    color: red;
    font-size: 200%;
    place-content: middle;
  }
  .center-text {
    text-align: center;
}
body {
  background-color: #bf1212;
}
content {
  background-color: rgb(72, 82, 255);
}